.main_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main_wrapper button {
  background-color: #091a32;
  min-height: 75px;
  min-width: 200px;
  border: none;
  border: solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: white;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.main_wrapper button:hover {
  cursor: pointer;
}
.banner_wrapper {
  height: 50vh;
  min-width: 100vw;
  background-color: #091a32;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.info_wrapper {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info_wrapper h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/*  Small devices (landscape phones, 350 px and down) */
@media (max-width: 350px) {
  .banner_wrapper {
    font-size: 1rem;
  }
  .info_wrapper h2 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .banner_wrapper {
    font-size: 1.8rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .banner_wrapper {
    font-size: 3rem;
  }
  .info_wrapper {
    max-width: 950px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner_wrapper {
    font-size: 3.5rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
