.main_wrapper {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}

.favorites_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.logout_button {
  margin: 2rem;
}
